$color : #5584ff;
$dark : #0e1a35;

@mixin flex($align, $justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// BASIC SETUP

@font-face{
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Roboto-Thin';
    src: url('../font/Roboto-Thin.ttf');
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
}

// COMPONENT

.show{
    background: #0e1a35;
}

.scroll{
    background: #0e1a35; 
}

.py{
    padding: 10rem 0 !important;
}

h2.title{
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 5rem;
}

h3.title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
}

.desc{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: #8492af;
}

.btn{
    font-size: 1.8rem;
    padding: 0.5rem 4rem !important;
    border-radius: 10rem;

    &:hover{
        animation: btnAnim 0.5s;
    }

    &.btn-main{
        background: $color;
        color: #fff;
        border: 0.2rem solid rgba(0,0,0,0);

        &:hover{
            background: transparent;
            color: $color;
            border: 0.2rem solid $color;
        }
    }

    &.btn-main-outline{
        background: transparent;
        color: $color;
        border: 0.2rem solid $color;

        &:hover{
            background: $color;
            color: #fff;
        }
    }

    &.btn-optional-outline{
        background: transparent;
        color: #000;
        border: 0.2rem solid #8492af;
        text-align: center;

        &:hover{
            border: 0.2rem solid $color;
            background: $color;
            color: #fff;
        }
    }
}

.fixed-nav-link{
    height: 8.3rem;
    position: relative;
    margin-top: -8.3rem;
    visibility: hidden;
}

@keyframes btnAnim{
    0%{
        transform: scale(1);
    }50%{
        transform: scale(0.9);
    }100%{
        transform: scale(1);
    }
}


// NAVBAR

.navbar{
    padding: 2rem 1rem;
    transition: 0.5s;
    .navbar-brand{
        width: 13rem;
    }

    .navbar-nav{
        align-items: center;

        .nav-item{
            margin-right: 2rem;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}


// HEADER

.header{
    background: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;

    .container{
        text-align: center;
        @include flex(center, flex-end, column);
        min-height: 80rem;
        padding-top: 2rem;
    }

    .title{
        margin-bottom: 1rem;
    }

    .desc{
        margin-bottom: 5rem;
        font-size: 3.6rem;
    }

    .btn{
        margin-bottom: 5rem;
    }

    .header-img{
        width: 60rem;
        position: relative;
        margin-bottom: -10rem
    }
}

// FEATURES 

.features{
    padding-top: 20rem !important;

    .row{
        align-items: center;
        text-align: center;
        .item{
            @include flex(center, center, column);

            .img-block{
                width: 100%;
                margin-bottom: 3rem;
                @include flex(center, center, column);
                .icn{
                    max-width: 20rem;
                }
            }

            .title{
                margin-bottom: 2rem;
            }

            .desc{
                margin-bottom: 4rem;
            }

            .btn{
                width: 80%;
            }
        }
    }
}

// BROWSER

.browser{
    position: relative;
    width: 100%;
    .row{
        align-items: center;

        div{
            position: static;
        }

        .img-box{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 40%;
        }
    }

    .title{
        margin-bottom: 2rem;
    }

    .desc{
        margin-bottom: 3rem;
    }

    .list{
        .item{
            color: $color;
            margin-bottom: 1rem;

            &:last-child{
                margin-bottom: 0;
            }

            i{
                margin-right: 1rem;
            }
        }
    }
}

// DRAG

.drag{
    background: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;

    .carousel{
        width: 80%;
        margin-left: auto;
        
        .carousel-control-next, .carousel-control-prev{
            position: relative;
            display: inline-flex;
            width: auto;
            margin-right: 2rem;
            margin-top: 2rem;
        }

        .carousel-control-next{
            margin-right: 0;
        }
    }
}

// PSD 

.psd{
    text-align: center;

    .title{
        padding-bottom: 2rem;
        width: 100%;
    }

    .desc{
        margin-bottom: 10rem;
        width: 100%;
    }

    .row{
        position: relative;

        .img-fluid{
            width: 90%;
            margin: auto;
        }

        .left,
        .right{
            position: absolute;
            width: 45%;
            @include flex(flex-start, center, column);

            .desc{
                margin-top: 2rem;
                width: 40rem;
                margin: 0;
            }

        }

        .title{
            padding-bottom: 1rem;
        }

        .left{
            left: 0;
            top: 6rem;
            text-align: left;

            .title{
                position: relative;
                &::before{
                    content: '';
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    width: 100%;
                    height: 0.2rem;
                    background: $color;
                }

                &::after{
                    content: '';
                    right: -1rem;
                    bottom: -1rem;
                    position: absolute;
                    padding: 1.2rem;
                    border-radius: 50%;
                    background: $color;
                    box-shadow: 0 0 0rem 0.7rem rgba(85, 132, 255, 0.5);
                }
            }
        }

        .right{
            bottom: 12rem;
            right: 0;
            text-align: right;
            align-items: flex-end;

            .title{
                position: relative;
                &::before{
                    content: '';
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    width: 100%;
                    height: 0.2rem;
                    background: $color;
                }

                &::after{
                    content: '';
                    left: -1rem;
                    bottom: -1rem;
                    position: absolute;
                    padding: 1.2rem;
                    border-radius: 50%;
                    background: $color;
                    box-shadow: 0 0 0rem 0.7rem rgba(85, 132, 255, 0.5);
                }
            }
        }
    }
}

// PRICING

.pricing{
    text-align: center;

    h2.title{
        margin-bottom: 10rem;
    }

    .row{
        align-items: center;
        margin-bottom: 10rem;

        .price-item{
            @include flex(center, center, column);

            .title{
                margin-bottom: 3rem;
            }

            .desc{
                .dollar{
                    font-size: 4rem;
                    font-weight: bold;
                    color: #000;
                }
                .price{
                    font-size: 7.2rem;
                    font-weight: bold;
                    color: #000;
                }
            }

            .list{
                @include flex(center, center, column);
                font-size: 1.8rem;

                .item{
                    @include flex(center, center, row);
                    i{
                        margin-right: 1rem;
                        color: $color;
                    }

                    &.not{
                        i{
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .btn{
        margin-top: 5rem;
    }
}


// FOOTER

.footer{
    background: $dark;
    color: #8492af;
    padding: 3rem 1rem;

    .container{
        @include flex(center, space-between, row);
        flex-wrap: wrap;
    }

    .desc{
        margin: 0;
    }

    ul{
        @include flex(center, space-between, row);

        li{
            margin-left: 2rem;

            &:first-child{
                margin-left: 0;
            }

            a{
                color: #8492af;
            }
        }
    }
}



// MEDIA QUERY

@media (max-width: 991px){
    html{
        font-size: 50.5%;
    }

    .drag .carousel{
        width: 100%;
    }

    .psd{
        .row{
            .img-fluid{
                width: 80%;
            }

            .left{
                top: 5rem;
            }
            .right{
                bottom: 6rem;
            }
        }
    }
}

@media (max-width: 767px){
    .features .row .item{
        margin-bottom: 5rem;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .browser .row { 
        flex-direction: column-reverse;
        .img-box{
            position: static;
            transform: none;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 5rem;

        }
    }

    .drag .carousel{
        width: 100%;        
        margin-top: 5rem;
    }

    .psd{
        .row{
            .img-fluid{
                width: 95%;
            }
            
            .left,
            .right{
                position: static;
                transform: 0;
                margin-top: 5rem;

                .desc{
                    width: 80%;
                    margin-top: 1rem;
                }
            }

            .left .title::after{
                right: 0;
            }

            .right .title::after{
                left: 0;
            }
        }
    }

    .pricing .row{
        justify-content: center;
        .price-item{
            margin-bottom: 5rem;
        }
    }
}

@media (max-width: 575px){
    h2.title{
        font-size: 4rem;
    }

    h3.title{
        font-size: 2.5rem;
    }

    .navbar .navbar-nav .nav-item{
        margin-right: 0;
        margin-bottom: 2rem;
        text-align: center;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .header{
        .container{
            align-items: center;
            justify-content: center;
            min-height: 90rem;
        }

        .header-img{
            width: 90%;
            margin-bottom: 0;
        }    
    } 

    .footer{
        .container{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .desc{
                margin-bottom: 2rem;
                text-align: center;
            }

            ul{
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}